/**
 * GitStats - default style
 */
body {
	color: black;
	background-color: #f7f7f7;
	font-family: Fira Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
	font-size: 0.85em;
}

dt {
	font-weight: bold;
	float: left;
	margin-right: 1em;
}

dt:after {
	content: ': ';
}

dd {
	display: block;
	clear: left;
}

table {
	border: 1px solid #d8d8d8;
	border-collapse: collapse;
	font-size: 0.75rem;
	margin-bottom: 1em;
}

table.noborders {
	border: none;
}

table.noborders td {
	border: none;
}

.vtable {
	float: right;
	clear: both;
}

table.tags td {
	vertical-align: top;
}

td {
	background-color: white;
}

th {
	color: rgba(0, 0, 0, 0.8);
	background-color: #d8d8d8;
	padding: 0.4em;
}

th a {
	color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
}

tr:hover {
	background-color: #D1DEE7;
}

td {
	border: 1px solid #d8d8d8;
	padding: 0.4em;
}

/* Navigation bar; tabbed style */
.nav {
	padding: 0.6em;
}

.nav ul {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline;
}

.nav li a {
	padding: 0.4em;
	text-decoration: none;
	color: #1c313e;
	border: 1px solid #d8d8d8;
	margin: 0.5em;
	background-color: #ddf;
}

.nav li a:hover {
	background-color: #d8d8d8;
	border-bottom: 1px solid #a7b5bf;
}

img {
	border: 1px solid black;
	padding: 0.5em;
	background-color: white;
}

th img {
	border: 0px;
	padding: 0px;
	background-color: #d8d8d8;
}

h1 a, h2 a {
	color: #1c313e;
	text-decoration: none;
}

h1 {
	font-size: 1.6rem;
	padding: 0.2em 0.5em;
}

h2 {
	background-color: #324956;
	border: 1px solid #a7b5bf;
	padding: 0.4em 0.8em;
	color: white;
	font-size: 1.1rem;
	clear: both;
}

h2 a {
	color: white;
}

.moreauthors {
	font-size: 0.75rem;
}
